.descriptionbox {
  margin: 120px 170px;
}
.descriptionbox-navigator {
  display: flex;
}
.description-nav-box {
  display: flex;

  align-items: center;
  text-align: center;
  justify-self: center;
  font-size: 16px;
  font-weight: 600;
  width: 251px;
  height: 70px;
  border: 1px solid #d0d0d0;
}
.discription-nav-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-self: center;
  font-size: 16px;
  font-weight: 600;
  width: 251px;
  height: 70px;
  border: 1px solid #d0d0d0;
  background: #fbfbfb;
  color: #555;
}
.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 48px;
  padding-bottom: 70px;
}
